/* @keyframes unblur {
  from {filter:blur(8px)}
  to {filter:blur(0px)}
} */

.box-inner {
    background-color: white;
    padding: 3rem;
    place-items: center;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 25px;
    position: relative;
    /* animation: unblur 1.5s; */
}

.backgr{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
   

 
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgr::before{
    content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('../../background.JPG');
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 100%;

  
  /* filter: blur(5px); */
}

button{
    margin: 3px;
}



.close-btn {
    position: absolute;
    top: 7px;
    right: 7px;
    align-items: center;
    padding-left: 11px;
    padding-right: 11px;
  background-color: #ff0000;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.close-btn:hover{
    background-color: #a50000;
}