* {
    box-sizing: border-box;
}

body {
    place-items: top;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-width: min-content;
    
}


@keyframes blur {
  from {filter:blur(0)}
  to {filter:blur(8px)}
}

@keyframes unblur {
  from {filter:blur(8px)}
  to {filter:blur(0px)}
}

@keyframes backappear {
  from {background-color: #004a9400;}
  to {background-color: #004a9464;}
  
}

@keyframes textappear {
  from {color: #ffffff00;}
  to {color: #ffffff;}
  
}

@keyframes hover {
  from {background-color: #ffffff00;}
  to {background-color: #ffffff;}
  
}

@keyframes ahover {
  from {background-color: #ffffff00;}
  to {background-color: #437bff;}
  
}

@keyframes btnappear {
  from {color: #ffffff00;
  border: 3px solid rgba(255, 255, 255, 0);
  background-color: #ffffff00;
:hover{from {color: #ffffff00;
  border: 3px solid rgba(255, 255, 255, 0);
  background-color: #ffffff00;

}}
  to {color: #000000;
  border: 3px solid rgb(255, 255, 255);
  background-color: #ffffff;
:hover{
  background-color: #ffffff;
  color:black
}}
  }
}
/* The element to apply the animation to */

.textDiv{
  
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   height: 100vh;
   width: 100%;
   background-color: #004a9464;
   animation-name: backappear;
   
  animation-duration: 2s;
}


.textDiv h1{
  
  margin: 0px;
  letter-spacing: 15px;
  font-family: inherit;
  color: white;
  font-size: 55px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  animation-name: textappear;
  text-align: center;
  animation-duration: 3s;
}

.textDiv h2{
 user-select: none;
  margin: 0px;
  margin-bottom: 50px;
  font-family: Courier New;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 7px;
  font-size: 25px;
  border-radius: 40px;
  border: 4px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  animation-name: textappear;
  animation-duration: 2s;
  
}



.textDiv button{
  margin: 0px;
  
  font-size: larger;
  color: #000000;
  padding: 10px;
  margin-left: 10px;
  border-radius: 40px;
  padding-left: 30px;
  padding-right: 30px;
  border: 3px solid rgb(255, 255, 255);
  background-color: #ffffff;
  font-weight: bold;
  animation-name: btnappear;
  animation-duration: 3s;
}

.textDiv button:hover{
  background-color: #ffffffc5;
  color:black
  
}

.textDiv p{
  color: #ffffff;
  font-size: larger;
  white-space: inherit;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  animation-name: textappear;
  animation-duration: 4s;
}

.textDiv::before{
content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('./background.JPG');
  background-size:cover;
  background-position: center;
  
  width: 100%;
  height: 100%;

  animation: blur;
  animation-duration: 2s;
  filter: blur(8px);
}

#delete{
    background-color: red;
}
#delete:hover{
    background-color: rgb(213, 0, 0);
}

.qrDiv{
    text-align: center;
   
    justify-content: center;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom:1rem;
}

button {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 35px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

button:hover,
button:focus { 
  background-color: #2874d6;
  color: #ffffff;
}

button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}



.topnav {
  background-color: #0A66C2;
  overflow: hidden;
  
  
}

.name{
    background-color: rgb(0, 0, 0);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #437bff;
  color: #ffffff;
  animation: ahover 0.7s
  
  
}

/* Add an active class to highlight the current page */
.topnav a.active {
   margin-top: 3px;
   margin-left: 5px;
   margin-right: 5px;
  font-family: Courier New;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 5px;
  font-size: 14px;
  border-radius: 40px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  
}

.topnav a.active:hover{
  color: #0A66C2;
  background-color: rgb(255, 255, 255);
  animation: hover;
  animation-duration: 0.5s;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}

  .topnav a:first-child {display: block; text-align: center;}
  
  .topnav a.icon {
    padding: 9px;
    float: right;
    display: block;
    border-radius: 30px;
    
  }
  .topnav a.icon:hover {
    float: right;
    display: block;
    border-radius: 30px;
    background-color: white;
    color: #0A66C2;
    
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 7px;
    top: 4px;
    
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
 
}

.addMedButton{
    white-space: nowrap;
    background-color: #ffffff;
    color: #0A66C2;
}

.viewbtn{
    white-space: nowrap;
    background-color: #437bff;
    color: #ffffff;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    
  
}

td, th {
    border-bottom: 1px solid #d2d2d2;
    padding: 1rem;
    white-space: nowrap;
}

.th-text {
  background-color: #78a0ff; /* Green background */
  color: white;              /* White text */
  padding: 6px 12px;         /* Spacing around text */
  border-radius: 25px;        /* Rounded corners */
  display: inline-block;     /* Makes the background wrap tightly around text */
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #eeeeee;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #437bff;
    color: white;
}

.table-danger{
    background-color: #ff9d9d;
}

.table-danger:hover{
    background-color: #ff8e8e;
}

.btnsMenuTable{
    text-align: right;
}

.btnsMenuTable button{
    margin-left: 5px;
}

.btnColumn{
     text-align: right;
}

.table-warning{
    background-color: #fffca2;
}

.table-warning:hover{
    background-color: #fcf876;
}

.loginRegistration{
    position: relative;
    padding: 30px;
    width: 100%;
    max-width: fit-content;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
     animation-name: unblur;
  animation-duration: 1s;
}

.loginRegistration input{
    width: 15rem;
    margin-bottom: 10px;
    height: 2rem;
    border-radius: 20px;
    padding: 10px;
}

.loginRegistration button{
  margin-top: 10px;
  margin-bottom: 10px;
    width: 15rem;
    height: 2rem;
}

.loginRegistration h2{
   margin: 0px;
   user-select: none;
  margin-bottom: 30px;
  font-family: Courier New;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 5px;
  font-size: 18px;
  border-radius: 40px;
  border: 4px solid #0A66C2;
  background-color: #0A66C2;
  font-weight: bold;
}

.loginRegistration h2:hover{
background-color: #2478cb;
}

label{
    font-size: small;
    font-weight: bold;
}

#addMedElement{
    display: flex;
    flex-direction: column;
}

#medicineFields {
    display: flex;
    flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 15px;
}



